// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.clicked {
  background-color: green;
  color: white;
}

.box{
  display: block;
  width: 400px;
  margin: 50px auto;

  h2 {
    padding-left: 85px;
  }

  .input {
    margin-left: 40px;
  }

}

.toDoItems {
  list-style: none;

  li {
    width: 200px;
    min-height: 30px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 30px;
    text-align: left;

    #away {
      float: right;
      margin-right: 0.5px;
      border-radius: 50px;
    }
  }
}

.box2 {
  display: block;
  width: 400px;
  min-height: 10px;
  border: 1px solid black;
  margin: 50px auto;

}
